/*layout*/
.layout-wrap {
  display:flex;
  min-height:100vh;
  .layout-right {
    width: 266px;
    min-width: 266px;
    min-height:100vh;
  }
  .layout-left {
    width: calc(100% - 266px);
    position:relative;
  }
}
.sub-container{
  padding:27px 103px 150px;
  min-height:calc(100vh - 120px);
}
/*title*/
.sub-title{
  padding:60px 0 0 103px;
  height:120px;
  @include NotoSans(1.5, 700, #000);
  background-color:#fff;
}
/*form*/
input[type="text"]{
  &.basic {
    border: 1px solid #000;
    height: 30px;
    padding: 0 10px;
    width: 100%;
    font-size:1.5rem;
    background-color:#fff;
  }
}
input[type="number"]{
  &.basic {
    border: 1px solid #000;
    height: 25px;
    padding: 0 10px;
    width: 100%;
    font-size:1.5rem;
    background-color:#fff;
  }
}
/*button*/
button{
  height: 30px;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  @include NotoSans(1.2,500,#000);
  padding:0 22px;
  &.basic{
    border:1px solid #000;
    background-color:#fff;
  }
}
/*table*/
table{
  &.basic{
    border-bottom:1px solid #868686;
    tr{
      th{
        height:40px;
        border-bottom:1px solid #868686;
        border-top:1px solid #868686;
      }
      td{
        padding:5px 0;
        text-align:center;
        border-bottom:1px solid #ccc;
      }
    }
  }
}
/*vuetify-select*/
.v-menu__content{
  border-radius:0 !important;
  .v-list-item{
    .v-list-item__content{
      .v-list-item__title{
        font-size:1.2rem !important;
        line-height: inherit !important;
      }
    }
    &.v-list-item--active{
      &:before{
        background-color:rgba(0,0,0,0.3);
      }
      .v-list-item__title{
        color:#000;
        font-weight:700;
      }
    }
  }
}
